.goods {
  display: block;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin: 1px 0;

    @include for-tablet {
      display: flex;
      flex-direction: row;
      gap: 1px;
      margin: 1px 0;
    }

    @include for-desktop {
      flex-direction: row;
      display: flex;
      gap: 1px;
      margin: 1px 0;
    }
  }

  &__item-3 {
    @include for-tablet {
      width: 33.33%;
    }

    @include for-desktop {
      width: 33.33%;
    }
  }

  &__item {
    position: relative;
  }

  &__link {
    text-decoration: none;
    color: #ffffff;
  }

  &__img {
    object-fit: cover;
  }

  &__name {
    padding: 10px;
    font-weight: lighter;
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px white solid;
    border-radius: 3px;
    background-color: (33, 33, 33, 0.2);
  }
}
